$icon-font-path: '../fonts/';

$color-1:   #000;
$color-2:   #aaa;
$color-2-5: #ccc;
$color-3:   #800000;
$color-bg:  #fff;

$dark-color-1:   #ccc;
$dark-color-2:   #555;
$dark-color-2-5: #333;
$dark-color-3:   #ff6600;
$dark-color-bg:  #111;