@import '_constants.scss';

// bower:scss
// endbower

// bower:css
// endbower

body {
  font-family: 'Vollkorn', 'Times', serif;
  background: $bg-color;
  color: $primary-color;
}

a, a:visited, a:active, a:hover {
  color: $primary-color;
  text-decoration: underline;
}

a:active, a:hover {
  color: $secondary-color;
  text-decoration: underline;
}

.container {
  max-width: 600px;
}

.section {
  padding: 80px 0;
  border-bottom: 1px solid $secondary-color;
  text-align: justify;

  h2 {
    font-size: 36px;
    margin: 0;
  }

  h3 {
    font-size: 24px;
    color: $secondary-color;
    margin: 0;
    margin-bottom: 30px;
  }

  p {
    font-size: 14px;
    line-height: 160%;
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .ilike {
    padding-top: 45px;
    text-align: right;
    h3 {
      margin: 0;
    }
  }
}