@import '_constants.scss';

// bower:scss
// endbower

// bower:css
// endbower

body {
  font-family: 'Vollkorn', 'Times', serif;
  background: $color-bg;
  color: $color-1;
}

a, a:visited {
  text-decoration: underline;
  color: $color-1;
  svg {
    fill: $color-1;
  }
}

a:active, a:hover {
  color: $color-3;
  svg {
    fill: $color-3;
  }
}

.container {
  max-width: 600px;
}

.section {
  padding: 80px 0;
  border-bottom: 1px solid $color-2-5;

  font-size: 14px;
  line-height: 150%;

  h1, h2 {
    font-size: 36px;
    margin: 0;
    margin-bottom: 6px;
  }

  h3 {
    font-size: 24px;
    color: $color-2;
    margin: 0;
    margin-bottom: 30px;
  }

  p, ul {
    margin-bottom: 16px;
  }

  p {
    text-align: justify;
    &:last-child {
      margin-bottom: 0;
    }
  }

  ul {
    list-style: none;
  }

  li {
    margin: 0;
  }

  .right-side {
    @media (min-width: 550px) {
      margin-top: 0;
    }
    margin-top: 30px;

    text-align: right;
    h3 {
      margin: 0;
    }
    p {
      text-align: right;
    }
  }

  .contact {
    a svg {
      width: 16px;
      height: 16px;
      margin-top: 3px;
      margin-bottom: -3px;
      margin-right: 3px;
    }
  }

  &:last-child {
    padding: 20px 0;
    color: $color-2;
    border: none;
  }
}

.scheme-palette {
  text-align: right;
  padding-top: 20px;
  position: absolute;
  width: calc(100% - 40px);
  @media (min-width: 400px) {
    width: 100%;
  }

  &>div {
    width: 16px;
    height: 16px;
    margin-left: 8px;
    display: inline-block;
    cursor: pointer;
    background-color: $color-bg;
    border: 0px solid $color-1;
    &.selected {
      width: 14px;
      height: 14px;
      border-width: 1px;
    }
  }
}

@import '_color-schemes.scss';