@import '_constants.scss';

// bower:scss
// endbower

// bower:css
// endbower

body {
  font-family: 'Vollkorn', 'Times', serif;
  background: $bg-color;
  color: $primary-color;
}

a, a:visited, a:active, a:hover {
  color: $primary-color;
  text-decoration: underline;
}

a:active, a:hover {
  text-decoration: underline;
  color: $tertiary-color;
  svg {
    fill: $tertiary-color;
  }
}

.container {
  max-width: 600px;
}

.section {
  padding: 80px 0;
  border-bottom: 1px solid $secondary-color-light;

  font-size: 14px;
  line-height: 150%;

  h1, h2 {
    font-size: 36px;
    margin: 0;
    margin-bottom: 6px;
  }

  h3 {
    font-size: 24px;
    color: $secondary-color;
    margin: 0;
    margin-bottom: 30px;
  }

  p, ul {
    margin-bottom: 16px;
  }

  p {
    text-align: justify;
    &:last-child {
      margin-bottom: 0;
    }
  }

  ul {
    list-style: none;
  }

  li {
    margin: 0;
  }

  .right-side {
    @media (min-width: 550px) {
      margin-top: 51px;
    }
    margin-top: 30px;

    text-align: right;
    h3 {
      margin: 0;
    }
    p {
      text-align: right;
    }
  }

  .contact {
    a svg {
      width: 16px;
      height: 16px;
      margin-top: 3px;
      margin-bottom: -3px;
      margin-right: 3px;
    }
  }

  &:last-child {
    padding: 20px 0;
    color: $secondary-color;
    border: none;
  }
}